@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(45deg, transparent, #009688); */
  /* background: linear-gradient(45deg, transparent, pink); */
  background: linear-gradient(45deg, transparent, #2ae8bf);
  
}
.container .time {
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 20px 5px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
  padding: 0 10px;
}
.container .time span {
  width: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #333;
}
.time span.colon {
  width: 10px;
}
#milliSecond {
  color: #009688;
}
.container .buttons {
  text-align: center;
  margin-top: 20px;
}
.buttons button {
  padding: 6px 16px;
  outline: none;
  border: none;
  margin: 0 5px;
  color: #009688;
  background: #fff;
  font-size: 19px;
  font-weight: 500;
  border-radius: 10px / 30px;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.09);
}
h1 {
  font-size: 50px;
  position: relative;
  bottom: 282px;
  text-align: center;
}
@media screen and (max-width:510px) {
  .container{
    background-color: red;
  }
}
